/*body {
  font-family:'Century Gothic';
}

h2 {color: red;}

p#red {color:red;}
p#green {color:green;}

p.blue {color:blue;}

div.post {
  background: #555;
  padding: 20px;
  margin-bottom: 10px;
}

div.post h2{
  color: white;
}

div.post p.blue{
  color: #ffbe2e;
}

div.contact {
  background: white;
  border: 1px solid #555;
  
}

div.name {
  border-bottom: 1px dashed #555;
  padding: 10px;
  background: #ccc;}

div.email {
  padding: 10px;
}*/
}

div#search {
  background: white;
  padding-top: 0px;
  padding-bottom: 10px;
  border-radius: 4px;
}

}

div#advanced {
  font-size: 16px;
}

p.address{
  font-size: 11px;
}