<div class='row'>
        <div id='search' class='col-md-3'>
            <h2>Find a Restaurant</h2>
            <div>
              <h3>Cuisine</h3>
              <input type="text" class="form-control" placeholder="Thai, Chinese, American">
              <h3>Location</h3>
              <input type="text" class="form-control" placeholder="Thailand, Singapore, Malaysia">
            </div>
            <div id='advanced'>
              <a href='#'>Advanced Search</a>
              <div id='advanced-fields'>
                <h3>Restaurant</h3>
                <input type="text" class="form-control" placeholder="Search by name">
                <h3>Chef</h3>
                <input type="text" class="form-control" placeholder="Find a Chef">
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-success">Search Now</button>
            </div>
            <!-- <popular sectors or cuisines> -->
            <div>
              <h2>Popular cuisines</h2>
                <p>Malaysia</p>
                <p>Malaysia</p>
                <p>Malaysia</p>
            </div>
            <!-- <Top cities> -->
            <div>
              <h2>Top cities</h2>
                <p>Bangkok</p>
                <p>Phuket</p>
                <p>Pattaya</p>
            </div>


          </div>

          <div class'col-md-9'>
            <h2>Restaurants in Bangkok</h2>
          </div>

            <div class='col-md-9'> <!-- start search result -->
              <h3>Bedsupperclub</h3>
              <p class='address'>Sukhumvit 11, Klongtoey-nua, Wattana, Bangkok 10110, Thailand</p>
                <div class='row'>
                  <div class='col-md-3'>
                    <img src='images/bangkok.jpg' alt='bangkok!' class='img-thumbnail'/>
                    <button type="button" class="btn btn-primary">Select Restaurant</button>
                  </div>
                  <div class='col-md-6'>
                    <p>Bedsupperclub is an awesome nightlife spot in Bangkok. This venue attracts so many people and it also generates a lot of buzz amongst its revellers.</p>
                  </div>
                  <div class='col-md-3'>
                    <div class='row'>
                      <div class='col-md-4'>
                        <img src='images/bkktoptables.png' alt='certificate!' class='img-thumbnail'/>
                      </div>
                      <div class='col-md-4'>
                        <img src='images/tatlerrestaurants.png' alt='certificate!' class='img-thumbnail'/>
                      </div>
                      </div>
                    </div>
                </div>
            </div> <!-- end search result -->

            <div class='col-md-9'> <!-- start search result -->
              <h3>Bedsupperclub</h3>
              <p class='address'>Sukhumvit 11, Klongtoey-nua, Wattana, Bangkok 10110, Thailand</p>
                <div class='row'>
                  <div class='col-md-3'>
                    <img src='images/bangkok.jpg' alt='bangkok!' class='img-thumbnail'/>
                    <button type="button" class="btn btn-primary">Select Restaurant</button>
                  </div>
                  <div class='col-md-6'>
                    <p>Bedsupperclub is an awesome nightlife spot in Bangkok. This venue attracts so many people and it also generates a lot of buzz amongst its revellers.</p>
                  </div>
                  <div class='col-md-3'>
                    <div class='row'>
                      <div class='col-md-4'>
                        <img src='images/bkktoptables.png' alt='certificate!' class='img-thumbnail'/>
                      </div>
                      <div class='col-md-4'>
                        <img src='images/tatlerrestaurants.png' alt='certificate!' class='img-thumbnail'/>
                      </div>
                      </div>
                    </div>
                </div>
            </div> <!-- end search result -->

         </div> <!-- end container -->